<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

    <div id="app">
        <h1 class="title">{{ product }}</h1>
        <div class="container">
            <div class="news">
                <div class="news__filter filter">
                    <div class="filter__button button">
                        <span class="filter__title">Вид</span>
                        <div @click="isShowList" class="button__list btn">
                            <div class="button__list-icon">
                                <img src="assets/list.png" alt="list">
                            </div>
                            <span class="button__text">Спсиок</span>
                        </div>
                        <div @click="isShowTile" class="button__tile btn">
                            <div class="button__tile-icon">
                                <img src="assets/tile.png" alt="list">
                            </div>
                            <span class="button__text">Плитка</span>
                        </div>
                    </div>
                    <div class="filter__sort">
                        <span class="filter__title">Сортировать</span>
                        <div class="filter__select">
                            <select @change="onChange($event)" name="sort" id="sort">
                                <option value="По дате">По дате</option>
                                <option value="По наименованию">По наименованию</option>
                            </select>
                        </div>
                    </div>
                    <div class="filter__amount">
                        <span class="filter__title">Количество</span>
                        <div class="filter__select">
                            <select @change="onChangeCount($event)" name="amount" id="amount">
                                <option v-for="(news, index) in posts" :value="index + 1">{{index+1}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="filter__count">
                        <span class="filter__title">{{perPage}} из {{ posts.length}}</span>
                    </div>
                </div>
                <div v-bind:class="{ news__inner: !isTile, news__innerTile: isTile }">

                    <div v-for="(news, index) in displayedPosts" :key="index" class="news__item">
                        <div class="news__item-pic" style="background-image: url(assets/1.jpg);"></div>
                        <div class="news__item-wrap">
                            <span class="news__item-title">Дата публикации: {{news.date.split('T').join(' ')}}</span>
                            <span class="news__item-title">{{ news.Title }}</span>
                            <span class="news__item-text">{{ news.Description }}</span>
                        </div>
                    </div>

                </div>
                <div class="buttons">
                    <button type="button" class="btn btn-sm btn-outline-secondary" v-if="page != 1" @click="page--"> << </button>
                    <button type="button" :class="{'btn page__selected': page === pageNumber, 'btn': page != pageNumber}" v-for="pageNumber in pages.slice(page-1, page+5)" @click="page = pageNumber"> {{pageNumber}} </button>
                    <button type="button" @click="page++" v-if="page < pages.length" class="btn btn-sm btn-outline-secondary"> >> </button>
                </div>
            </div>
        </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="main.js"></script>
</body>
</html>